[Desktop Entry]
Encoding=UTF-8
Name=KDE Partition Manager LibParted Backend
Name[bg]=Ядро LibParted за управление на дялове в KDE
Name[bs]=LibParted pozadina  za KDE‑ov menadžer particija
Name[ca]=Dorsal pel LibParted del gestor de particions del KDE
Name[ca@valencia]=Dorsal pel LibParted del gestor de particions del KDE
Name[cs]=Podpůrná vrstva LibParted pro správce diskových oddílů pro KDE
Name[da]=LibParted-backend til KDE partitionshåndtering
Name[de]=KDE-Partitionsverwaltung LibParted-Backend
Name[el]=Σύστημα υποστήριξης LibParted για τον διαχειριστή κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager LibParted Backend
Name[es]=Motor LibParted para el gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri LibPartedi taustaprogramm
Name[fi]=KDE:n osionhallinnan LibParted-taustaosa
Name[fr]=Moteur LibParted pour le gestionnaire de partitions de KDE
Name[gl]=Infraestrutura LibParted para o xestor de particións de KDE
Name[hu]=KDE partíciószerkesztő LibParted háttérprogram
Name[it]=Motore LibParted del gestore delle partizioni di KDE
Name[ko]=KDE 파티션 관리자 LibParted 백엔드
Name[lt]=KDE skaidinių tvarkyklė LibParted galinė sąsaja
Name[mr]=केडीई विभाजन व्यवस्थापक लिबपार्टेड बॅकएन्ड
Name[nb]=KDE partisjonsbehandler, bakgrunnsmotor for libparted
Name[nds]=LibParted-Hülpprogramm för KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheerder LibParted-backend
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ LibParted ਬੈਕਐਂਡ
Name[pl]=Silnik LibParted menadżera partycji KDE
Name[pt]=Infra-Estrutura da LibParted para o Gestor de Partições do KDE
Name[pt_BR]=Infraestrutura LibParted do gerenciador de partições do KDE
Name[ro]=Platformă LibParted pentru Gestionarul de partiții KDE
Name[ru]=Механизм LibParted
Name[sk]=LibParted - program v pozadí pre KDE Správcu partícií
Name[sl]=Zaledje LibParted za upravljalnik razdelkov za KDE
Name[sr]=Позадина Либпартеда за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Позадина Либпартеда за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Pozadina LibParteda za KDE‑ov menadžer particija
Name[sr@latin]=Pozadina LibParteda za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare LibParted bakgrundsprogram
Name[tr]=KDE Disk Bölümü Yöneticisi LibParted arka ucu
Name[ug]=KDE رايون باشقۇرغۇچنىڭ LibParted ئارقا ئۇچى
Name[uk]=Сервер LibParted Керування розділами KDE
Name[x-test]=xxKDE Partition Manager LibParted Backendxx
Name[zh_CN]=KDE 分区管理器 LibParted 后端
Name[zh_TW]=KDE 磁碟分割區管理員 LibParted 後端介面
Comment=The LibParted backend for KDE Partition Manager
Comment[bg]=Ядро LibParted за управление на дялове в KDE
Comment[bs]=Pozadina Libparteda za KDE‑ov menadžer particija
Comment[ca]=Un dorsal pel LibParted del gestor de particions del KDE
Comment[ca@valencia]=Un dorsal pel LibParted del gestor de particions del KDE
Comment[cs]=Podpůrná vrstva LibParted pro správce diskových oddílů pro KDE
Comment[da]=LibParted-backend til KDE partitionshåndtering
Comment[de]=Das LibParted-Backend für die KDE-Partitionsverwaltung
Comment[el]=Το σύστημα υποστήριξης LibParted για τον διαχειριστή κατατμήσεων του KDE
Comment[en_GB]=The LibParted backend for KDE Partition Manager
Comment[es]=El motor LibParted para el gestor de particiones de KDE
Comment[et]=KDE partitsioonihalduri LibPartedi taustaprogramm
Comment[fi]=KDE:n osionhallinnan LibParted-taustaosa
Comment[fr]=Le moteur LibParted pour le gestionnaire de partitions de KDE
Comment[gl]=A infraestrutura LibParted para o xestor de particións de KDE
Comment[hu]=LibParted háttérprogram a KDE partíciószerkesztőhöz
Comment[it]=Il motore LibParted del gestore delle partizioni di KDE
Comment[ko]=KDE 파티션 관리자를 위한 LibParted 백엔드
Comment[lt]=LibParted galinė sąsaja KDE skaidinių tvarkyklei
Comment[mr]=केडीई विभाजन व्यवस्थापक करिता लिबपार्टेड बॅकएन्ड
Comment[nb]=LibParted bakgrunnsmogtoren for KDE partisjonsbehandler.
Comment[nds]=Dat LibParted-Hülpprogramm för KDE-Partitschonenpleger
Comment[nl]=De LibParted-backend voor de KDE Partitiebeheerder
Comment[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਲਈ LibParted ਬੈਕਐਂਡ
Comment[pl]=Silnika LibParted dla menadżera partycji KDE
Comment[pt]=A infra-estrutura da LibParted para o Gestor de Partições do KDE
Comment[pt_BR]=Uma infraestrutura LibParted para o gerenciador de partições do KDE
Comment[ro]=Platforma LibParted pentru Gestionarul de partiții KDE
Comment[ru]=Механизм LibParted для диспетчера разделов для KDE
Comment[sk]=LibParted - program v pozadí pre KDE Správcu partícií
Comment[sl]=Zaledje LibParted za upravljalnik razdelkov za KDE
Comment[sr]=Позадина Либпартеда за КДЕ‑ов менаџер партиција
Comment[sr@ijekavian]=Позадина Либпартеда за КДЕ‑ов менаџер партиција
Comment[sr@ijekavianlatin]=Pozadina LibParteda za KDE‑ov menadžer particija
Comment[sr@latin]=Pozadina LibParteda za KDE‑ov menadžer particija
Comment[sv]=LibParted bakgrundsprogram för KDE:s partitionshanterare
Comment[tr]=KDE Disk Bölümü Yöneticisi LibParted arka ucu
Comment[ug]=KDE رايون باشقۇرغۇچنىڭ LibParted ئارقا ئۇچى
Comment[uk]=Сервер LibParted для Керування розділами KDE
Comment[x-test]=xxThe LibParted backend for KDE Partition Managerxx
Comment[zh_CN]=KDE 分区管理器的 LibParted 后端
Comment[zh_TW]=KDE 磁碟分割區管理員的 LibParted 後端介面
Type=Service
ServiceTypes=PartitionManager/Plugin
Icon=preferences-plugin

X-KDE-Library=pmlibpartedbackendplugin
X-KDE-PluginInfo-Name=pmlibpartedbackendplugin
X-KDE-PluginInfo-Author=Volker Lanz
X-KDE-PluginInfo-Email=vl@fidra.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=BackendPlugin
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://www.partitionmanager.org
