[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[ar]=مدير أقسام كدي
Name[bg]=Управление на дялове за KDE
Name[bs]=KDE‑ov menadžer particija
Name[ca]=Gestor de particions del KDE
Name[ca@valencia]=Gestor de particions del KDE
Name[cs]=Správce diskových oddílů pro KDE
Name[da]=KDE Partitionshåndtering
Name[de]=KDE-Partitionsverwaltung
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager
Name[es]=Gestor de particiones de KDE
Name[et]=KDE partitsioonihaldur
Name[fi]=KDE:n osionhallinta
Name[fr]=Gestionnaire de partitions de KDE
Name[ga]=Bainisteoir Deighiltí KDE
Name[gl]=Xestor de particións de KDE
Name[hu]=KDE partíciókezelő
Name[it]=Gestore delle partizioni di KDE
Name[ja]=KDE パーティションマネージャ
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស​របស់ KDE
Name[ko]=KDE 파티션 관리자
Name[lt]=KDE skaidinių tvarkyklė
Name[lv]=KDE partīciju pārvaldnieks
Name[mr]=केडीई विभाजन व्यवस्थापक
Name[ms]=Pengurus Partisyen KDE
Name[nb]=KDE partisjonshåndtering
Name[nds]=KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheerder
Name[nn]=KDE-partisjonshandtering
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pl]=Menadżer partycji KDE
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de partições do KDE
Name[ro]=Gestionarul de partiții KDE
Name[ru]=Диспетчер разделов для KDE
Name[sk]=KDE Správca partícií
Name[sl]=Upravljalnik razdelkov za KDE
Name[sr]=КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=KDE‑ov menadžer particija
Name[sr@latin]=KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare
Name[th]=เครื่องมือจัดการพาร์ทิชันของ KDE
Name[tr]=KDE Partition Manager
Name[ug]=KDE دىسكا رايونى باشقۇرغۇ
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
Name[zh_TW]=KDE 磁碟分割區管理員
GenericName=Partition Editor
GenericName[ar]=محرِّر أقسام
GenericName[bg]=Редактор на дялове
GenericName[bs]=Uređivač particija
GenericName[ca]=Editor de particions
GenericName[ca@valencia]=Editor de particions
GenericName[cs]=Editor diskových oddílů
GenericName[da]=Partition-editor
GenericName[de]=Partition-Editor
GenericName[el]=Διαχειριστής κατατμήσεων
GenericName[en_GB]=Partition Editor
GenericName[es]=Editor de particiones
GenericName[et]=Partitsioonihaldur
GenericName[fi]=Osionhallinta
GenericName[fr]=Éditeur de partitions
GenericName[ga]=Eagarthóir Deighiltí
GenericName[gl]=Editor de particións
GenericName[hu]=Partíciószerkesztő
GenericName[it]=Editor delle partizioni
GenericName[ja]=パーティション編集ツール
GenericName[km]=កម្មវិធី​កែសម្រួល​ការ​ចែកភាគ​ថាស
GenericName[ko]=파티션 편집기
GenericName[lt]=Skaidinių redaktorius
GenericName[lv]=Partīciju pārvaldnieks
GenericName[mr]=विभाजन संपादक
GenericName[nb]=Partisjonsredigering
GenericName[nds]=Partitschonen-Editor
GenericName[nl]=Partitiebewerker
GenericName[nn]=Partisjonsredigering
GenericName[pa]=ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
GenericName[pl]=Menadżer partycji
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partições
GenericName[ro]=Editor de partiții
GenericName[ru]=Редактор разделов
GenericName[sk]=Editor partícií
GenericName[sl]=Urejevalnik razdelkov
GenericName[sr]=Уређивач партиција
GenericName[sr@ijekavian]=Уређивач партиција
GenericName[sr@ijekavianlatin]=Uređivač particija
GenericName[sr@latin]=Uređivač particija
GenericName[sv]=Partitionseditor
GenericName[th]=แก้ไขพาร์ทิชัน
GenericName[tr]=Disk Bölümü Düzenleyici
GenericName[ug]=دىسكا رايونى تەھرىرلىگۈچ
GenericName[uk]=Редактор розділів диска
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
GenericName[zh_TW]=磁碟分割區編輯器
Comment=Manage disks, partitions and file systems
Comment[ar]=أدِر الأقراص والأقسام وأنظمة الملفات
Comment[bg]=Управлява размерите на дискове, дялове и операционни системи
Comment[bs]=Upravljajte diskovima, particijama i datotečnim sistemima
Comment[ca]=Gestioneu discos, particions i sistemes de fitxers
Comment[ca@valencia]=Gestioneu discos, particions i sistemes de fitxers
Comment[cs]=Spravujte disky, oddíly a souborové systémy
Comment[da]=Håndterer diske, partitioner og filsystemer
Comment[de]=Verwaltung von Festplatten, Partitionen und Dateisystemen
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[en_GB]=Manage disks, partitions and file systems
Comment[es]=Gestionar discos, particiones y sistemas de archivos
Comment[et]=Ketaste, partitsioonide ja failisüsteemide haldamine
Comment[fi]=Hallitse levyjä, osioita ja tiedostojärjestelmiä
Comment[fr]=Gère les disques, partitions et systèmes de fichiers
Comment[ga]=Bainistigh dioscaí, deighiltí agus córais comhad
Comment[gl]=Xestiona os discos, particións e o sistemas de ficheiros
Comment[hu]=Lemezek, partíciók, és fájlrendszerek kezelése
Comment[it]=Gestisci dischi, partizioni e filesystem
Comment[ja]=ディスク、パーティション、ファイルシステムを管理します
Comment[km]=គ្រប់គ្រង​ថាស ការ​ចែកភាគ​ថាស និង​ប្រព័ន្ធ​ឯកសារ
Comment[ko]=디스크, 파티션, 파일 시스템 관리
Comment[lt]=Tvarkykite diskus, skaidinius ir failų sistemas
Comment[lv]=Pārvaldīt diskus, partīcijas un failu sistēmas
Comment[mr]=डिस्क्स, विभाजन व फाईल प्रणाली व्यवस्थापन करा
Comment[ms]=Urs cakera, partisyen dan sistem fail
Comment[nb]=Styr disker, partisjoner og filsystemer
Comment[nds]=Fastplaten, Partitschonen un Dateisystemen plegen
Comment[nl]=Beheer schijven, partities en bestandssystemen
Comment[nn]=Handter diskar, partisjonar og filsystem
Comment[pa]=ਡਿਸਕਾਂ, ਪਾਰਟੀਸ਼ਨਾਂ ਅਤੇ ਫਾਇਲ ਸਿਸਟਮਾਂ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzaj dyskami, partycjami i systemami plików
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencie discos, partições e sistemas de arquivos
Comment[ro]=Gestionează discurile, partițiile și sistemele de fișiere
Comment[ru]=Управление дисками, разделами и файловыми системами
Comment[sk]=Spravuje disky, partície a súborové systémy
Comment[sl]=Upravljajte z diski, razdelki in datotečnimi sistemi
Comment[sr]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavian]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavianlatin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sr@latin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[th]=จัดการดิสก์, พาร์ทิชัน และระบบแฟ้มต่าง ๆ ของคุณ
Comment[tr]=Diskleri, disk bölümlerini ve dosya sistemlerini yönet
Comment[ug]=دىسكىلارنى، دىسكا رايونلىرىنى ۋە ھۆججەت سىستېمىسىنى باشقۇرۇش پروگراممىسى
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Comment[zh_TW]=管理磁碟、分割區與檔案系統
Exec=partitionmanager
Icon=partitionmanager
Categories=System;Filesystem;KDE;Qt;

X-KDE-SubstituteUID=true
X-KDE-StartupNotify=true

