/apricityassets/src/apricityassets/extensions/
re
instructions
pr
*.docx
/apricityassets/apricityassets-*.pkg.tar.xz
/apricityassets/apricityassets.tar.gz
/apricity-wallpapers/apricity-wallpapers-*.pkg.tar.xz
/apricity-wallpapers/apricity-wallpapers.tar.gz
/apricity-chrome-profile/apricity-chrome-profile-*.pkg.tar.xz
/apricity-chrome-profile/apricity-chrome-profile.tar.gz
/apricity-icons/apricity-icons-*.pkg.tar.xz
/apricity-icons/apricity-icons.tar.gz
/apricity-themes/apricity-themes-*.pkg.tar.xz
/apricity-themes/apricity-themes.tar.gz
/apricityassets/pkg/
/apricity-wallpapers/pkg/
/apricity-chrome-profile/pkg/
/apricity-icons/pkg/
/apricity-themes/pkg/
/build/install/
/build/out/
/build/work/
/build/airootfs/install/
/build/boot/
/build/airootfs/var
/build/pacman.conf
/cnchi/Cnchi-master.tar.gz
/cnchi/cnchi-*-any.pkg.tar.xz
/cnchi/pkg/
/cnchi/src/Cnchi-master.tar.gz
