[Desktop Entry]
Name=Nylas N1
Comment=An extensible, open-source mail client built on the modern web.
GenericName=Nylas N1
Exec=/usr/share/nylas/nylas %U
Icon=nylas
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;EmailClient;Development;
MimeType=text/plain;x-scheme-handler/mailto;x-scheme-handler/nylas;
