[Desktop Entry]
Type=Application
Name=Argon
Comment=Lightweight Arch Package Manager
Exec=argon
Icon=/usr/share/argon/argon.png
Categories=System;Utility
