[Desktop Entry]
Encoding=UTF-8
Name=KDE Partition Manager Dummy Backend
Name[bg]=Празно ядро за управление на дялове в KDE
Name[bs]=Prazna pozadina za KDE‑ov menadžer particija
Name[ca]=Dorsal fals del gestor de particions del KDE
Name[ca@valencia]=Dorsal fals del gestor de particions del KDE
Name[cs]=Podpůrná vrstva pro správce diskových oddílů pro KDE
Name[da]=Attrap-backend til KDE partitionshåndtering
Name[de]=KDE-Partitionsverwaltung Dummy-Backend
Name[el]=Ψευδο-σύστημα υποστήριξης για τον διαχειριστή κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager Dummy Backend
Name[es]=Motor de prueba para el gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri libataustaprogramm
Name[fi]=KDE:n osionhallinnan valetaustaosa
Name[fr]=Moteur de test pour le gestionnaire de partitions de KDE
Name[gl]=Infraestrutura de test do xestor de particións de KDE
Name[hu]=KDE partíciószerkesztő hamis háttérprogram
Name[it]=Motore fittizio del gestore delle partizioni di KDE
Name[ko]=KDE 파티션 관리자 더미 백엔드
Name[lt]=KDE skaidinių tvarkyklės fiktyvi galinė sąsaja
Name[mr]=केडीई विभाजन व्यवस्थापक डमी बॅकएन्ड
Name[nb]=Attrapp-motor for KDE partisjonsbehandler
Name[nds]=Platzholler-Hülpprogramm för KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheerder dummy-backend
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਫ਼ਰਜ਼ੀ ਬੈਕਐਂਡ
Name[pl]=Fikcyjny silnik menadżera partycji KDE
Name[pt]=Infra-Estrutura de Testes do Gestor de Partições do KDE
Name[pt_BR]=Infraestrutura de testes do gerenciador de partições do KDE
Name[ro]=Machetă de platformă pentru Gestionarul de partiții KDE
Name[ru]=Пустой механизм
Name[sk]=Testovací program v pozadí KDE Správcu partícií
Name[sl]=Preizkusno zaledje za upravljalnik razdelkov za KDE
Name[sr]=Лажна позадина за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Лажна позадина за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Lažna pozadina za KDE‑ov menadžer particija
Name[sr@latin]=Lažna pozadina za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare testbakgrundsprogram
Name[tr]=KDE Disk Bölümü Yöneticisi için Sahte Arka Uç
Name[ug]=KDE رايون باشقۇرغۇچ مەۋھۇم ئارقا ئۇچى
Name[uk]=Тестовий додаток сервера Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Dummy Backendxx
Name[zh_CN]=KDE 分区管理器虚拟后端
Name[zh_TW]=KDE 磁碟分割區管理員空白後端介面
Comment=A KDE Partition Manager dummy backend for testing purposes.
Comment[bg]=Празно тестово ядро за управление на дялове в KDE
Comment[bs]=Lažna pozadina za KDE‑ov menadžer particija, za probne namjene.
Comment[ca]=Un dorsal fals del gestor de particions del KDE amb la finalitat de fer proves.
Comment[ca@valencia]=Un dorsal fals del gestor de particions del KDE amb la finalitat de fer proves.
Comment[cs]=Falešná podpůrná vrstva pro správce diskových oddílů KDE pro testovací účely.
Comment[da]=En attrap-backend til KDE partitionshåndtering til testformål.
Comment[de]=Ein Dummy-Backend für die KDE-Partitionsverwaltung zu Testzwecken.
Comment[el]=Ψευδο-σύστημα υποστήριξης διαχειριστή κατατμήσεων του KDE για δοκιμές.
Comment[en_GB]=A KDE Partition Manager dummy backend for testing purposes.
Comment[es]=Un motor para el gestor de particiones de KDE con propósitos de prueba.
Comment[et]=KDE partitsioonihaldur libataustaprogramm testimiseks.
Comment[fi]=KDE:n osionhallinnan valetaustaosa testaustarkoituksiin
Comment[fr]=Un moteur de test pour le gestionnaire de partitions de KDE pour faire des essais.
Comment[gl]=Infraestrutura de test para o xestor de particións de KDE con fins de proba.
Comment[hu]=KDE partíciószerkesztő hamis háttérprogram a célok teszteléséhez.
Comment[it]=Motore fittizio del gestore delle partizioni di KDE per scopi di prova.
Comment[ko]=테스트를 위한 KDE 파티션 관리자 더미 백엔드입니다.
Comment[lt]=KDE skaidinių tvarkyklės fiktyvi galinė sąsaja testavimo tikslais.
Comment[mr]=चाचणी करिता केडीई विभाजन व्यवस्थापक डमी बॅकएन्ड.
Comment[nb]=KDE partisjonsbehandler, attrapp bakgrunnsmotor for testing.
Comment[nds]=En Platzholler-Hülpprogramm för KDE-Partitschonenpleger, testwies
Comment[nl]=Een KDE Partitiebeheerder dummy-backend voor testen.
Comment[pa]=ਟੈਸਟ ਕਰਨ ਲਈ KDE ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਫ਼ਰਜ਼ੀ ਬੈਕਐਂਡ
Comment[pl]=Fikcyjny silnik menadżera partycji KDE do celów testowych.
Comment[pt]=Uma infra-estrutura de testes do Gestor de Partições do KDE.
Comment[pt_BR]=Uma infraestrutura de testes do gerenciador de partições do KDE.
Comment[ro]=Machetă de platformă pentru Gestionarul de partiții KDE, destinată testelor.
Comment[ru]=Проверочный механизм для диспетчера разделов для KDE.
Comment[sk]=Testovací program v pozadí KDE Správcu partícií
Comment[sl]=Preizkusno zaledje za upravljalnik razdelkov za KDE, ki je namenjeno preizkušanju.
Comment[sr]=Лажна позадина за КДЕ‑ов менаџер партиција, за пробне намене.
Comment[sr@ijekavian]=Лажна позадина за КДЕ‑ов менаџер партиција, за пробне намјене.
Comment[sr@ijekavianlatin]=Lažna pozadina za KDE‑ov menadžer particija, za probne namjene.
Comment[sr@latin]=Lažna pozadina za KDE‑ov menadžer particija, za probne namene.
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte.
Comment[tr]=KDE Disk Bölümü Yöneticisi için Sahte Test Arka Ucu
Comment[ug]=سىناشقا ئىشلىتىدىغان KDE رايون باشقۇرغۇچنىڭ مەۋھۇم ئارقا ئۇچى
Comment[uk]=Тестовий додаток сервера Керування розділами KDE.
Comment[x-test]=xxA KDE Partition Manager dummy backend for testing purposes.xx
Comment[zh_CN]=测试用的 KDE 分区管理器的虚拟后端
Comment[zh_TW]=KDE 磁碟分割區管理員空白後端介面，測試用
Type=Service
ServiceTypes=PartitionManager/Plugin
Icon=preferences-plugin

X-KDE-Library=pmdummybackendplugin
X-KDE-PluginInfo-Name=pmdummybackendplugin
X-KDE-PluginInfo-Author=Volker Lanz
X-KDE-PluginInfo-Email=vl@fidra.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=BackendPlugin
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://www.partitionmanager.org
