[Desktop Entry]
Name=Install Apricity OS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=sudo -E /usr/bin/cnchi -d -v -c /var/cache/pacman/pkg
Icon=/usr/share/cnchi/data/images/antergos/antergos-icon.png
Terminal=False
Type=Application
Categories=System;
