<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<gui name="KDE Partition Manager" version="11">
	<ToolBar name="editToolBar">
		<text context="@title:menu turn on and off edit toolbar">Edit Toolbar</text>
		<Action name="applyAllOperations"/>
		<Action name="undoOperation"/>
	</ToolBar>

	<ToolBar name="partitionToolBar">
		<text context="@title:menu">Partition Toolbar</text>
		<Action name="newPartition"/>
		<Action name="resizePartition"/>
		<Action name="deletePartition"/>
	</ToolBar>

	<ToolBar name="deviceToolBar">
		<text context="@title:menu">Device Toolbar</text>
		<Action name="createNewPartitionTable"/>
	</ToolBar>

	<MenuBar>
		<Menu name="file"/>
		<Menu name="edit">
			<Action name="undoOperation"/>
			<Action name="clearAllOperations"/>
			<Action name="applyAllOperations"/>
		</Menu>
		<Menu name="view">
			<text context="@title:menu">View</text>
			<Action name="toggleDockDevices"/>
			<Action name="toggleDockOperations"/>
			<Action name="toggleDockInformation"/>
			<Action name="toggleDockLog"/>
			<separator/>
			<Action name="fileSystemSupport"/>
			<Action name="refreshDevices"/>
		</Menu>
		<Menu name="device">
			<text context="@title:menu">Device</text>
			<Menu name="selectedDevice">
				<text context="@title:menu">Select Current Device</text>
			</Menu>
			<separator/>
			<Action name="createNewPartitionTable"/>
			<separator/>
			<Action name="exportPartitionTable"/>
			<Action name="importPartitionTable"/>
			<separator/>
			<Action name="smartStatusDevice"/>
			<Action name="propertiesDevice"/>
		</Menu>
		<Menu name="partition">
			<text context="@title:menu">Partition</text>
			<Action name="newPartition"/>
			<Action name="resizePartition"/>
			<Action name="deletePartition"/>
			<Action name="shredPartition"/>
			<separator/>
			<Action name="copyPartition"/>
			<Action name="pastePartition"/>
			<separator/>
			<Action name="editMountPoint"/>
			<Action name="mountPartition"/>
			<separator/>
			<Action name="checkPartition"/>
			<separator/>
			<Action name="backupPartition"/>
			<Action name="restorePartition"/>
			<separator/>
			<Action name="propertiesPartition"/>
		</Menu>
		<Menu name="settings"/>
		<Menu name="help"/>
	</MenuBar>

	<StatusBar/>

	<Menu name="log">
		<Action name="clearLog"/>
		<Action name="saveLog"/>
	</Menu>
</gui>

