[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PartitionManager/Plugin
Name=KDE Partition Manager Plugin
Name[ar]=ملحَق مدير أقسام كدي
Name[bg]=Приставка за управление на дялове в KDE
Name[bs]=Dodatak  za KDE‑ov menadžer particija
Name[ca]=Connector del gestor de particions del KDE
Name[ca@valencia]=Connector del gestor de particions del KDE
Name[cs]=Modul do správce diskových oddílů pro KDE
Name[da]=Plugin til KDE partitionshåndtering
Name[de]=Modul für die KDE-Partitionsverwaltung
Name[el]=Πρόσθετο για τον διαχειριστή κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager Plugin
Name[es]=Complemento del gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri plugin
Name[fi]=KDE:n osionhallintaliitännäinen
Name[fr]=Module externe pour le gestionnaire de partitions de KDE
Name[ga]=Breiseán Bhainisteoir Deighiltí KDE
Name[gl]=Engadido de xestión de particións de KDE
Name[hu]=KDE partíciószerkesztő bővítmény
Name[it]=Estensione del gestore delle partizioni di KDE
Name[ko]=KDE 파티션 관리자 플러그인
Name[lt]=KDE skaidinių tvarkyklės priedas
Name[mr]=केडीई विभाजन व्यवस्थापक प्लगइन
Name[nb]=KDE partisjonsbehandler programtillegg
Name[nds]=Partitschonenpleger-Moduul för KDE
Name[nl]=Plugin voor KDE Partitiebeheerder
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਪਲੱਗਇਨ
Name[pl]=Wtyczka menadżera partycji KDE
Name[pt]='Plugin' do Gestor de Partições do KDE
Name[pt_BR]=Plugin do gerenciador de partições do KDE
Name[ro]=Modul pentru gestionarul de partiții KDE
Name[ru]=Расширения диспетчера разделов для KDE
Name[sk]=Zásuvný modul KDE Správcu partícií
Name[sl]=Vstavek Upravljalnika razdelkov za KDE
Name[sr]=Прикључак за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Прикључак за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Priključak za KDE‑ov menadžer particija
Name[sr@latin]=Priključak za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare insticksprogram
Name[tr]=KDE Disk Bölümü Yöneticisi Eklentisi
Name[ug]=KDE رايون باشقۇرغۇچ قىستۇرمىسى
Name[uk]=Додаток Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Pluginxx
Name[zh_CN]=KDE 分区管理器插件
Name[zh_TW]=KDE 磁碟分割區管理員外掛程式

