#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Search
Exec=/opt/google/chrome-beta/google-chrome-beta --user-data-dir=/home/alex/.config/google-chrome-beta --profile-directory=Default --app-id=coobgpohoikkiipiblmjeljniedjpjpf
Icon=chrome-coobgpohoikkiipiblmjeljniedjpjpf-Default
NoDisplay=true
StartupWMClass=crx_coobgpohoikkiipiblmjeljniedjpjpf
